@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,600&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,600&family=Rubik:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Rubik','Montserrat', sans-serif;
    box-sizing: border-box;
}
/* Estilo de fuente para citas o para enfatizar texto*/
.textDestacado {
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
}
h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 2%;
    padding: 2%;
}
p {
    margin: 3%;
}
img {
    width: 100%;
}
.redondeo {
    border-radius:50%;
}
/* Clase para contenedor flex en columna vista movil*/
.container {
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: stretch;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2%;
}

/* HEADER */
.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 5%;
    background: linear-gradient(0deg, #d8ccba,#d8ccba, #ffffff,#ffffff, #0d0d0d2f);
    height: 15vh;
}
#logo {
    max-width: 5rem;
}
.header a:hover {
    color: #fff;
    text-shadow: 2px 2px 2px #000, 0 0 25px #693d24, 0 0 5px #fff;
}
/* Estilo para barra de navegacion lateral al abrir menu hamburguesa */
.user-nav {
    display: flex;
    gap: 1rem;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}
.navbar {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    background-color: #d8ccba;
    visibility: hidden;
    z-index: 1;
    box-shadow: -20px 20px 80px 80px #4e2c1c;
    border-left: outset;
    border-bottom: outset;
    }
 /* Quita la viñeta decorativa de todas las li*/
li {
    list-style: none;
    margin: 10% 2%;
}
/* Quita el subrayado de todos los enlace y pone en negrita*/
a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
/* Botones abrir y cerrar menu hamburguesa*/
#menu-abrir, #cerrarSesion {
    background-color: transparent;
    border: none;
}

#menu-cerrar {
    font-weight: bold;
    border: none;
    border-radius: .6rem;
    border: inset;
}
.menu-abrir, .menu-cerrar {
    padding: 8%;
    cursor: pointer;
}   
.visible {
    visibility: visible;
    opacity: 1;
}
.oculto {
    display: none;
}
.inputNoValido {
    border: 1px solid #ff0000;
    box-shadow: 0 0 3px 1px #ff0000;  ;
}
/* MAIN */

/* Secciones del main index*/
main section {
    padding: 0% 10%;
    overflow: auto;
}
.intro p {
    margin-bottom: 5%;
}
main img {
    width: 100%;
    margin-bottom: 5%;
}
/* Horarios de apertura */
.info ul li {
    list-style-type: circle;
}
/* enlaces a menu, bodega y reserva*/
.enlaces div {
    padding: 8%;
}
.boton{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: #693d24;
    color: #fff;
    padding: 5%;
    margin-bottom: 3%;
    border: inset;
}
/* galeria*/
.invisible {
    display: none;
}
#container-galery img {
    border-radius: 0px 25px;
}


/* ------Pag Acceso Formulario para ingreso del cliente */
#mainAcceso {
    padding: 10% 15%;
}
#mainAcceso h1, #mainAcceso h2{
    margin-bottom: 10%;
}
#bienvenidaUser {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-bottom: 15%;
}
form input, form .btn, form select {
    margin: 8% 0%;
    height: 40px;
}
fieldset {
    margin-bottom: 30%;
    padding: 10%;
}
form p {
    margin: 3%;
}
.linksEnlaces {
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 10%;
}

/*----------- Pag menu*/

/* Tarjeta para el menu terminar de dar estilo con js*/
.tarjeta {
    border: 1px solid #0d0d0d;
    border-radius: 3%;
    margin: 10%;
    box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.5);
    padding: 8%;
}
.tarjeta:hover {
    transform: scale(1.1,1.1);
    box-shadow: 5px 5px 15px 10px #4e2c1cd5;
}
/* --------------- Pag bodega*/
.imgBodega img {
    max-height: 40vh;
    width: auto;
}
#tarjetaBodega{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------- pag reservas*/
#mainReserva {
    padding: 0% 10%;
}
#formReserva {
    display: flex;
    flex-direction: column;
}
#formInfoReserva .btn {
    width: 40%;

}
#mainReserva #bienvenidaReserva {
    display: none;
}
.botonera {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.botonera button , .botonera input{
    text-align: center;
    cursor: pointer;
   
}
#fechaDisponible {
    display: flex;
    flex-direction: column;
}
.listaHorario {
    display: flex;
    gap: 2%;
    justify-content: space-between;
}
.listaHorario .turno {
    width: 40%;
}
.hora {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ---------------------  pag Nosotros */

#mainNosotros {
    padding: 0% 8%;
}
.contacto div li{
    padding: 1% 0%;
}
.contacto iframe {
    width: 100%;
}
.iframe {
    margin: 5%;
}
/*---------------------- pag contacto*/
/*carrusel*/
.carrusel {
    position: relative;
    overflow: hidden;
}
.imgCarrusel {
    width: 100%;
    height: 70vh;
    display: block;
}
#adelanteCarrusel {
    right: 10px;
  }
  
#atrasCarrusel {
    left: 10px;
  }
#atrasCarrusel, #adelanteCarrusel {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn {
    border: outset;
}

/* FOOTER*/
.footer {
    background-color: #0d0d0d;
    color: #fff;
    padding: 2% 5%;
}
.footer div {
    margin-bottom: 5%;
    padding-bottom: 2%;
}
.footer ul {
    padding: 0% 10%;
}
.footer a {
    color: #fff;
}
.footer .footLegal li {
    text-align: center;
}




/* MQery para tablet desde 600px*/
@media screen and (min-width: 600px) {
    .footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2%;
        align-items: baseline;
        padding: 2%;
    }
/* page Acceso Formulario para ingreso del cliente */
#mainAcceso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form .btn {
    margin: 8% 0%;
    height: 40px;
}
fieldset {
    width: 80%; 
    padding: 5%;   
}
.linksEnlaces {
    padding: 0% 15%;
}
/* pag nosotros */
.contacto .iframe iframe {
    height: 50vh;
}
}
#container-galery img {
    width: 70%;
    margin: 5% 15%;
}
/* pag contacto */
#contactoForm {
    padding: 0% 20%;
}
/*pag reserva*/
#mainReserva {
    padding: 0% 15%;
}
/* mquery para tablets de 10 */
@media screen and (min-width: 760px) {
    .menu-abrir, .menu-cerrar {
        visibility: hidden;
        padding: 0%;
        margin: 0;
        width: 0px;
        display: none;

    }
    .header{
        flex-direction: column;
        padding: 1px;
        height: auto;
    }
    .user-nav {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .navbar{
        visibility: visible;
        display: flex;
        background-color: transparent;
        position: relative;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1%;
        border: none;
        box-shadow: 0 0 0;
    }
    .nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar ul li {
        margin: 0% 2%;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    .presentacion img {
        width: 40%;
        padding: 2%;
        float: right;
    }
    #container-galery {
        display: flex;
        flex-wrap: wrap;   
    }
    #container-galery img {
        width: 40%;
        margin: 5%;
    }
    /* pag acceso */
    #acceso {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .linksEnlaces {
        flex-direction: row;
        gap: 5%;
        padding: 2%;
    }
     /*Pag menu*/
     .container-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0% 5%;
    } 
    .subtMenu {
        color: #693d24;
        grid-column: 1/3;
        font-style: italic;
        text-align: start;
    }

    /* pag reserva */
      #mainReserva {
        padding: 0% 20%;
    
    }
    /* pag nosotros*/
    #mainNosotros {
        align-items: center;
    }
    #mainNosotros img {
        width: 70%;
    }
    #mainNosotros .contacto {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
    }
    .contacto div {
        padding: 2%;
    }
    #main-nosotros h1 {
        grid-column: 1/7;
    }
    #main-nosotros .info {
        grid-column: 1/4;
    }
    #main-nosotros img {
        grid-column: 4/7;
        padding: 2%;
        margin:2%;
    }
    #main-nosotros .contacto {
        grid-column: 1/7;
    }  
  
}


@media screen and (min-width:900px) {
    * {
        font-size: 1.2rem;
    }
    .presentacion {
        gap: 2%;
    }
    .enlaces {
        display: flex;
        gap: 2%;
        justify-content: center;
        min-height: 80vh;
    }
    .enlaces div {
        width: 30%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 8%;
        
    }
    #container-galery {
        justify-content: center;
    }
    #container-galery img {
        width: 25%;
        margin: 3%;
    }
    .visible1part {
        display: inline;
    }
    /* page Acceso Formulario para ingreso del cliente */
    #mainAcceso {
        padding: 5% 12%;
    }
    fieldset {
        width: 60%; 
        padding: 5%;   
    }
     /* pag reserva */
    #formReserva {
        padding: 0% 15%;
    }
     /* pag nosotros*/

     #mainNosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10%;
        gap: 0;
    }
    #mainNosotros img {
        width:90%;
    }
    /* pag contactp*/
   .imgCarrusel {
        height: 90vh;
    }
    .titular,  .contacto {
        grid-column: 1/3;
    }
    .contacto {
        margin: 4%;
        display: flex;
        flex-direction: column;      
    }
    #contacto {
        width: 100%;
        display: flex;
        justify-content: space-around; 
        gap: 10%;  
    }
    .contactoRedes {
        width: 100%;
    }
    .iframe {
        width: 100%;
        margin: 0;
    }    
}


@media screen and (min-width: 1200px) {
    * {
        font-size: 1.2rem;
    }
    main section {
        padding: 1% 6%;
    }
    h1, h2, h3, h4 , h5 {
        font-size: 1.8rem;
        margin: 0;
    }
    .presentacion img {
        width: 50%;
    }
    .presentacion p {
        padding: 1%;
    }
    .info li {
    margin: 2%;
    }
    fieldset { 
        margin-bottom: 15%;   
    }
    .contacto {
        display: block;
    }
    .contacto .iframe iframe {
        width: 90%;
        height: 80vh;
    }
    #container-galery {
        justify-content: center;
    }
    #container-galery img {
        width: 20%;
        margin: 2%;
    }
    .visible2part {
        display: inline;
    }
    /*pag menu*/
    .container-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .subtMenu {
        grid-column: 1/4;
    }
     /* pag reserva */
     #formReserva {
        padding: 0% 25%;
    }
     /*Footer*/
     .footer {
        font-size: .7rem;
    }
}